.dashboard {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: $marginM;

  .dashboard-item {
    min-width: 300px;
    border: 1px solid $dashBoardBorder;
    flex: 1 1 10px;
    width: 13%;
    margin-right: $marginM;
    margin-bottom: $marginM;

    @include borderRadius();

    .dashboard-item-header {
      background: linear-gradient($dashBoardBorder, $headerBackground);
      border-bottom: 1px solid $dashBoardBorder;
      color: $white;
      font-size: $mediumFont;
      font-weight: 400;
      padding: $paddingS;
    }

    .dashboard-item-content {
      height: 200px;
      display: flex;
      align-items: center;

      .dashboard-link {
        @include links($dashBoardLink, $dashBoardLinkHover, $dashBoardLinkActive, $dashBoardLink);
      }

      .dashboard-figure {
        font-size: 100px;
        font-weight: 600;
        flex-grow: 1;
        flex-shrink: 1;
        flex-basis: 0;
        color: $sideBarBorder;
        text-align: center;

        .dashboard-text {
          font-size: $mediumFont;
        }
      }

      .dashboard-warning {
        color: $warning;
      }
    }
  }
}

/*
  background: linear-gradient($dashBoardBorder, $headerBackground);
*/
