@mixin borderRadius($radius:$borderRadius) {
  border-radius: $radius;
}

@mixin links($link, $visited, $hover, $active) {
  & {
    color: $link;
    text-decoration: underline;

    &:visited {
      color: $visited;
    }

    &:hover {
      color: $hover;
      text-decoration: none;
    }

    &:active, &:focus {
      color: $active;
    }
  }
}

// I want to potentially change:
// the Modal Background Colour - $modalBg,
// the Modal Header Text Colour -  $modalHeaderColor,
// The Modal Header Background Colour... perhaps I want a gradient? $modalHeaderBg1, $modalHeaderBg2,
// I'd like to be able to animate how the modal window enters the page - $startPosX, $startPosY
// ToDo... add some left / right / up / down logic so simplify the logic

// should we do something mental...
// $mentalModalBg: -45deg, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65) 10px, rgba(0, 0, 0, .7) 10px, rgba(0, 0, 0, .7) 20px)
@mixin overlay() {

}
