.news {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 20px;

  .news-header {
    flex: 1 1 10px;
    background: $newsHeader;
    border: 1px solid $newsHeaderBorder;
    color: $white;
    font-size: $mediumFont;
    font-weight: 400;
    padding-top: 10px;

    input[type=checkbox] {
      display: none;
    }

    input[type=checkbox] + label {
      padding-left: 20px;
    }

    input[type=checkbox]:checked ~ .news-headlines {
      max-height: 500px;
      transition: max-height 0.45s ease;
    }
  }

  .news-headlines {
    flex: 1 1 10px;
    background: $white;
    max-height: 0;
    transition: max-height 0.15s ease;
    overflow: hidden;
    color: black;
    margin-top: 10px;

    .news-headline {

      // scss loops cannot decrement!
      @for $i from 1 through 5 {
        // here we use the lighten built in function - lighten($color, $amount)
        // but we could use other, like darken or saturate or desaturate or invert...
        // http://sass-lang.com/documentation/Sass/Script/Functions.html
        // http://jackiebalzer.com/color

        $newsItemColour: lighten($newsItemColour, 15%);

        &:nth-child(#{$i}) {
          color: $newsItemColour;
        }
      }
    }
  }
}



/*
  background: linear-gradient($newsHeaderBorder, $newsHeader);
*/
