.news {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: $marginM;

  .news-header {
    flex: 1 1 10px;
    background: linear-gradient($newsHeaderBorder, $newsHeader);
    border: 1px solid $newsHeaderBorder;
    color: $white;
    font-size: $mediumFont;
    font-weight: 400;
    padding-top: $paddingS;

    @include borderRadius();

    input[type=checkbox] {
      display: none;
    }

    input[type=checkbox] + label {
      padding-left: $paddingM;
    }

    input[type=checkbox]:checked ~ .news-headlines {
      max-height: 500px;
      transition: max-height 0.45s ease;
    }
  }

  .news-headline-list {
    list-style-type: none;
    padding-left: $paddingM;
  }

  .news-headlines {
    flex: 1 1 10px;
    background: $white;
    max-height: 0;
    transition: max-height 0.15s ease;
    overflow: hidden;
    color: black;
    margin-top: $paddingS;
  }

  .news-headline {
    padding: $paddingXS 0;
  }

  .news-link {
    @include links($newsLink, $newsLink, $newsLinkHover, $newsLinkActive);
  }
}

