body {
    margin: 0;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header {
    background: tomato;
    padding: 10px;
}

.footer {
    background: lightgreen;
    padding: 10px;
}

.content {
    display: flex;
    flex: 1;
}

.main {
    background: deepskyblue;
    order: 2;
    padding: 10px;
}

.aside-1 {
    background: gold;
    width: 30%;
    order: 1;
    padding: 10px;
}

.aside-2 {
    background: hotpink;
    width: 30%;
    order: 3;
    padding: 10px;
}