// Naming convention for SCSS variables is $ and camelCase

// Corporate Colours
$msaGreen: rgb(15,171,75);

// Names Colours
$white: rgb(255,255,255);

// Layout Colours
$background: rgb(51,51,51);
$headerBackground: rgb(85,187,85);
$dashBoardBorder: rgb(15,171,75);
$primaryBackground: rgb(238,238,238);

$sideBarHoverOne: $msaGreen;
$sideBarHoverTwo: rgb(3, 169, 244);
$sideBarHoverThree: rgb(0, 188, 212);
$sideBarHoverFour: rgb(139, 195, 74);
$sideBarHoverFive: rgb(205, 220, 57);
$sideBarHoverSix: rgb(255, 235, 59);
$sideBarHoverSeven: rgb(255, 193, 7);
$sideBarHoverEight: rgb(255, 87, 34);
$sideBarHoverNine: rgb(244, 67, 54);
$sideBarHoverTen: rgb(156, 39, 176);
$sideBarBorder: rgb(34,34,34);
$sideBarText: rgb(238,238,238);
$sideBarHoverBackground: rgb(68,68,68);

$sideBarHoverList: $sideBarHoverOne $sideBarHoverTwo $sideBarHoverThree
$sideBarHoverFour $sideBarHoverFive $sideBarHoverSix $sideBarHoverSeven
$sideBarHoverEight $sideBarHoverNine $sideBarHoverTen;

$warning: rgb(204,0,0);

// font sizes
$smallFont: 12px;
$mediumFont: 16px;
$h1Font: 26px;

// default text
$defaultFont: 600 $smallFont/1 'Open Sans', sans-serif;
