// bower:scss
// endbower
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600');
// import local files
@import 'variables';
@import '_mixins';
@import '_content';
@import '_sidebar';
@import '_dashboard';
@import '_news';


html, body {
  height: 100vh;
  margin: 0;
  padding: 0;
  background: $background;
}

body {
  font: $defaultFont;
}

/* You have forgotten the alt! */
img[alt=""], img:not([alt]) {
  border: 5px dashed $warning;
}

.wrapper {
  display: flex;
  min-height: 100%;
}
